# Basics

Printing a statement

In [1]:
print("hello world")

hello world

Variables are containers to store data

In [4]:
name="Pratham Saxena" #this is string
age=21 #this is integer
print(name ) 
print(age)

Pratham Saxena
21

In [5]:
name="Bhanu"
print(name) #now name has different value

Bhanu

In [7]:
age=20.0 #this is float
is_adult=False #this is bool

Taking inputs from user

In [12]:
name=input("what is your name ?")
lname=input("what is your last name?")
print(name + " "+ lname) # this is called concatination

what is your name ? pratham
what is your last name? saxena

pratham saxena

Conversions of datatypes

In [14]:
name="pratham"
age=21
age =str(age) #this will convert int into string for concatination
print(name +" is " + age +" years old ")

pratham is 21 years old

In [15]:
age=18
age=str(age)
age=float(age)
age=bool(age)
print(age)

True

sum of two numbers

In [21]:
firstnum=input("enter first number")
#input is by default string in python
firstnum=int(firstnum)
secondnum=input("enter second number")
secondnum=int(secondnum)
print("sum is " ,firstnum+secondnum)

enter first number 12
enter second number 18

sum is  30

# strings

upper and lower

In [22]:
name="Tony Stark"
print(name.upper())

TONY STARK

In [23]:
print(name.lower())

tony stark

note that it doesnot change the original string

Find

In [25]:
print(name.find("o"))
#this will return the index of a letter or a word

1

In [27]:
print(name.find("z"))
#when it cant find that word it will return -1

-1

In [28]:
print(name.find("Stark"))

5

Replace

In [30]:
print(name.replace("Tony","iron man"))

iron man Stark

In [2]:
collegename="Rustamji institute of technology"
print(collegename.replace("R","Ch"))

Chustamji institute of technology

to check whether letter exists or not we use in keyword returns bool

In [3]:
print("z" in collegename)

False

In [5]:
print("R" in collegename)

True

# Arithmetic Operations

In [6]:
5 + 2

7

In [7]:
5 - 2

3

In [8]:
5 * 2

10

In [9]:
5 / 2

2.5

to exclude the decimal part

In [10]:
5 // 2

2

to get the remainder we use modulus

In [11]:
5 % 2

1

for geting something in exponent

In [12]:
5 ** 2

25

In [13]:
i = 5
i = i + 2
print(i)

7

In [14]:
j = 5
j += 2
print(j)

7

In [15]:
2 + 3/5

2.6

as devision has higher presedence like bodmas in pythton

In [16]:
2 + 3*5

17

comment

In [17]:
#This is a comment

# conditional operator

In [18]:
2>=1

True

In [19]:
1>=2

False

In [20]:
1==1

True

In [21]:
1==2

False

In [29]:
1>2
1!=2

True

! means not equal to

they always return boolean

# logical operators

In [23]:
2>3 or 3>1

True

In [24]:
2>3 and 3>1

False

In [25]:
2<3 and 3>1

True

or give true when either condition is true while and gives true when both condition are true

In [27]:
not 2>3

True

In [28]:
not 3>2

False

# If Else Statements

In [33]:
age=input("what is your age")
age=int(age)
if age>=18:
    print("you can vote hurray!")
elif age<18 and age >3:
    print("Go to school beta")
else:
    print("chalna toh seekhle nalayak")

what is your age 2

chalna toh seekhle nalayak

My calculator

In [37]:
num1=input("enter first number")
num2=input("enter second number")
op = input("what u want to do (+,-,*,/)")
num1=int(num1)
num2=int(num2)
if op =="+":
    print (num1 +num2)
elif op =="-":
    print (num1 -num2)  
elif op =="*":
    print (num1 *num2)  
elif op =="/":
    print (num1 /num2)

enter first number 12
enter second number 2
what u want to do (+,-,*,/) -

10

# Range

In [39]:
numbers =range(5)
print(numbers)

range(0, 5)

# while loop

In [40]:
i =0
while i<=10:
    print (i)
    i +=1

0
1
2
3
4
5
6
7
8
9
10

In [42]:
i =0
while i<=10:
    print (i * '*')
    i +=1

*
**
***
****
*****
******
*******
********
*********
**********

In [44]:
i =10
while i>=0:
    print (i * '*')
    i -=1

**********
*********
********
*******
******
*****
****
***
**
*

# For loop

In [45]:
for i in range(5):
    print(i)

0
1
2
3
4

In [46]:
for i in range(5):
    print(i+1)

1
2
3
4
5

all bool int float string are premitive data type list is a complex datatype

# List

In [47]:
marks = [90,95,80,67,"English"]
print(marks)

[90, 95, 80, 67, 'English']

In [48]:
print(marks[0])

90

In [49]:
print(marks[-1])

English

In [50]:
print(marks[0:2])

[90, 95]

In [51]:
print(marks[1:3])

[95, 80]

In [52]:
for score in marks:
    print(score)

90
95
80
67
English

In [53]:
marks.append(99)
print(marks)

[90, 95, 80, 67, 'English', 99]

Lists are mutable and can have different datatypes

In [54]:
marks.insert(0,100)
print(marks)

[100, 90, 95, 80, 67, 'English', 99]

In [55]:
print(100 in  marks)

True

In [56]:
print(len(marks))

7

In [57]:
i=0
while i< len(marks):
    print(marks[i])
    i=i+1

100
90
95
80
67
English
99

# continue and break

In [59]:
students=['pratham','somya','ajay','bhanu','hrishabh']
for student in students:
    if student == 'bhanu':
        break
    print(student)

pratham
somya
ajay

It will skip stop from bhanu as at that time loop breaked
can be use to print items till some point

In [60]:
for student in students:
    if student == 'ajay':
        continue
    print(student)

pratham
somya
bhanu
hrishabh

this will skip some item in the list

# Tupples

they are like list but immuatable

In [61]:
marks=(98,99,100,100,20)
print(marks.count(100))

2

in tupple we can count the item but cant mutate

In [62]:
print(marks.index(100))

2

In [65]:
name ='ram','shyam','radha'
#by default a tupple
print(name)

('ram', 'shyam', 'radha')

# Sets

Stores a unique value

In [63]:
marks ={98,97,100,100,100}
print(marks)

{97, 98, 100}

In [66]:
for mark in marks:
    print(mark)

97
98
100

sets are called unordered as they dont have any indices

# Dictionary

they are like css and keys is used as index

In [70]:
info={'pratham':21,'bhanu':20,'somya':19}
print(info['somya'])

19

In [71]:
info['pratham']=22
print(info)

{'pratham': 22, 'bhanu': 20, 'somya': 19}

this will add an element to the dictionary

In [72]:
info['hrishabh']=17
print(info)

{'pratham': 22, 'bhanu': 20, 'somya': 19, 'hrishabh': 17}

# Functions

So far we have seen inbuild function like input , print , int() etc

there are module functions also which we import from modules

In [73]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [75]:
from math import sqrt
print(sqrt(4))

2.0

User define function

made by users

In [79]:
num1=1
num2 =2
def sum(num1,num2) :
    print(num1 + num2)
    
sum(num1,num2)

3

we call a function by its name